!!!
%html{ :xmlns=>"http://www.w3.org/1999/xhtml" }
  %head
    %title=title
    %meta{"http-equiv" => "Content-Type", :content => "text/html", :name => "description", :content => description}
    =stylesheet_link_tag "reset", "text", "960", "base"
    =javascript_include_tag "jquery", "application"
  %body
    .container_16
      =yield